body {
  margin: 0;
  background: linear-gradient(180deg, #ffe3fa, #f9d6ff, #f6ccff);
  height: 100vh;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.monito {
  position: absolute;
  bottom: 15vh;
  left: 0;
  width: 203px;   /* ancho de un frame */
  height: 289px;  /* alto de un frame */
  background-image: url('spritesheet_monito.png');
  background-repeat: no-repeat;
  image-rendering: pixelated;
  cursor: pointer;
  z-index: 2;
  transform-origin: center;
}


.dialogo {
  position: absolute;
  bottom: 5vh;
  width: 80vw;
  max-width: 480px;
  background: rgba(255, 240, 255, 0.9);
  border: 2px solid #f2b8ff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 12px rgba(255, 200, 255, 0.6);
  font-size: 10px;
  color: #d26cd6;
  text-align: left;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 3;
}

.dialogo p {
  margin: 0;
  line-height: 1.5;
}


